.o-header {
    display: flex;
    background-color: #fff;
    border-radius: 0rem 0rem 3rem 3rem;
    box-shadow: 0px 3px 0px rgba(128, 128, 128, 0.075);
    height: 5.6rem;
}

.o-logo {
    height: auto;
    max-width: 20rem;
    margin: 2rem;
}